section {
    padding: 60px 0;
}

.bg-img {
    background-size: cover;
    background-position: center;
}

@media (max-width: 768px) {
    .showcase-img {
        height: 300px;
    }
}

.team-item {
    max-width: 180px;
}

.form {
    background-image: url(../img/slider-1.jpg);
}